.container {
  height: 100vh;
  background-color: #eee;
}

.card-container {
  width: 100vw;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  place-items: center;
}